@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');


/* FUENTES
font-family: 'Montserrat', sans-serif;
*/

/* ESTILOS DE LA BARRA DE NAVEGACIÓN */

html {
    scroll-padding-top: 4rem;
}

*{
    font-family: 'Montserrat';
}

#barra-principal{
    background-color: #FEDEDC;
    position: relative;
    z-index: 2;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #1A3B6D;
}

#barra-principal-blanca{
    background-color: white;
    box-shadow: 5px 5px 18px #888888;
    font-family: 'Montserrat';
    font-size: 16px;
    z-index: 1;
}

#logo {
    width: 70px;
}

.nav-link{
    text-transform: uppercase;
    color: #1A3B6D;
    font-weight: 100;
}

.nav-link:hover{
    color: #1A3B6D;
}

.nav-link:focus{
    background-color: #1A3B6D;
    border-radius: 5px;
    color: #FEDEDC;
}

.carousel-item{
    height: 90vh;
}

.carousel-item img{
    object-fit: cover;
}

/* ESTILOS DE LAS SECCIONES */

.seccion{
    height: 90vh;
    padding: 60px;
}

.seccion h2{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 38px;
    color: #1A3B6D;
    padding-bottom: 30px;
}

/* SECCION DE NOSOTROS */

#nosotros-contenido{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#nosotros-imagenes img{
    border-radius: 10px;
    width: 666px;
}

.nosotros-texto{
    font-size: 16px;
    color: #1A3B6D;
    width: 40%;
    padding-left: 60px;
    align-self: center;
}

/* SECCION DE CONTACTO */

#contacto{
    padding-left: 0px;
    padding-right: 0px;
}

.headliner{
    text-align: center;
    color: #1A3B6D;
}

#container-rosa{
    background-color: #FEDEDC;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    height: 100%;
}

.informacion-contacto{
    width: 30%;
}

.parrafo{
    text-decoration: dashed;
    font-style: italic;
}

.parrafo2{
    margin-left: 30px;
}

.info{
    text-align: left;
    color: #1A3B6D;
    padding: 5px;
    padding-bottom: 15px;

}

#boton-whatsapp{
    background-color: #25D366;
    border-color: #25D366;
    border-radius: 25px;
    color: white;
}

#boton-whatsapp img{
    width: 30px;
    padding-left: 5px;
}

#mapa-iframe{
    width:600px;
    height:450px;
    border:0;
}

/* FOOTER  */

#footer{
    padding: 20px;
    background-color: black;
    color: #FEDEDC;
    display: flex;
    gap: 25px;
    justify-content: space-around;
}

#footer img{
    width: 60%;
}

#siguenos img{
    width: 30px;
    margin-right: 60px;
}

#tarjetas img{
    width: 70px;
}

#siguenos{
    width: 20%;
}


@media (min-width:811px) and (max-width: 1024px){

    .informacion-contacto{
        width: 40%;
    }

    #mapa-iframe{
        width:400px;
        height:500px;
    }
    
}

@media (max-width: 810px){

    .seccion{
        height: fit-content;
    }

    .nosotros-texto{
        width: 100%;
    }

    #nosotros-imagenes img{
        width: 400px;
        margin-bottom: 10px;
    }

    .informacion-contacto{
        width: 100%;
    }

    #contacto{
        padding-bottom: 0px;
    }

    #container-rosa{
        flex-wrap: wrap;
    }

    #mapa-iframe{
        width:500px;
        height:400px;
    }

    #siguenos{
        width: 60%;
    }

    #footer{
        flex-direction: column;
        align-items: center;
    }

}