/* ESTILOS DE LA BARRA DE NAVEGACIÓN */

#barra-principal{
    background-color: #FEDEDC;
}

#logo {
    width: 70px;
}

.nav-link{
    text-transform: uppercase;
    color: #1A3B6D;
    font-weight: bolder;
}

.carousel-item{
    height: 90vh;
}

.carousel-item img{
    object-fit: cover;
}

/* ESTILOS DE LAS SECCIONES */

.seccion{
    height: 90vh;
    padding: 100px;
}

.seccion h2{
    text-align: center;
}

